@page
@model IndexModel
@{
    ViewData["Title"] = "RazorVisualizer";
}

<br />
    <!-- <div class="row">
        <div class="left-container">
            <div class="source-container row">
                <textarea id="source"></textarea>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="left-container col-md-6">
            <div class="source-container row">
                <div>
                    <textarea id="source"></textarea>
                </div>
            </div>
        </div>
        <div class="right-container col-md-6">
            <div class="ir-container row">
                <div>
                    <pre id="irtree">
                        IR output
                    </pre>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="left-container col-md-6">
            <div class="tree-container row">
                <div>
                    <pre id="newtree">
                        New tree output
                    </pre>
                </div>
            </div>
        </div>
        <div class="right-container col-md-6">
            <div class="tree-container row">
                <div>
                    <pre id="results">
                        Parsed tree output
                    </pre>
                </div>
            </div>
        </div>
    </div>
    <br />
