@using Razorlab.Shared

<div>
    <NodeTemplate Item=@Root />
</div>

@functions {
    [Parameter]
    private Node Root { get; set; }

    [Parameter]
    private Action<Node> RootChanged { get; set; }
}